@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
}

/* ปรับแต่งสี Tailwind */
.bg-blue-50 {
  background-color: #f0f8ff;
}

.bg-blue-600 {
  background-color: #1e3a8a;
}

.text-blue-600 {
  color: #1e3a8a;
}

.bg-yellow-100 {
  background-color: #fef9c3;
}

.hover\:bg-yellow-100:hover {
  background-color: #fef9c3;
}
